/* Reset de estilos generales */
* {
    margin: 0;/*Sirve para darle medida al margen del contenido*/
    padding: 0;/*Sirve para darle medida al padding del contenido*/
    box-sizing: border-box;/*Sirve para darle medida a la caja donde se encuentra el contenido*/
}

/* Estilos generales del formulario */
form {
    width: 100%;/**/
    max-width: 600px;/**/
    margin: 50px auto;/**/
    padding: 20px;/**/
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo del fieldset */
fieldset {
    border: none;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

/* Estilos de los inputs y el textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

/* Estilo del botón */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
